@import "tailwindcss/preflight";
@tailwind utilities;

:root {
  --font-cinzel: 'Cinzel Decorative', serif;
  --font-inter: 'Inter', sans-serif;
}

body {
  font-family: var(--font-inter);
  color: #FFFFFF;
  background-color: #f8f5f2;
}

h1, h2, h3 {
  font-family: var(--font-inter);
}

section {
  animation: fadeIn 1s ease-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
